<!DOCTYPE html>
<html>
  <head>
    <title>Explore with Parasol</title>
  </head>
  <body>
    <div
      class="parasol"
      data-settings='{
        "networks": [
          {
            "url": "/api/graph",
            "name": "Digital Watch",
            "options": {
              "layout": "forcelink",
              "loader": {
                "name": "json"
              }
            }
          }
        ],
        "ui": {
          "muiTheme": "dark",
          "drawers": [
            { "id": "left",
              "open": true,
              "components": [
                {"name": "AppBar"},
                {"name": "NetworkList"},
                {"name": "Divider"},
                {"name": "ForceLinkSettings"},
                {"name": "Divider"},
                {"name": "Legend"}
              ]
            },
            { "id": "right",
              "open": true,
              "openSecondary": true,
              "components": [
                {"name": "SearchInput"},
                {"name": "SelectedNode"}
              ]
            }
          ]
        }
      }'
    />

  </body>
  <script src="static/js/lib/parasol.js" type="text/javascript"></script>
</html>
