<!DOCTYPE html>
<html>
  <head>
    <title>Explore with Parasol</title>
    <style type="text/css">
  .rc-slider-tooltip{z-index:1400;}
  .component-sigma{margin-left: auto;
margin-right: auto;
display: block; }
</style>
  </head>
  <body>
    <div
      class="parasol"
      data-settings='{
        "networks": [ { "url": "/api/graph", "name": "Digital Watch", "options": { "layout": "forcelink", "loader": { "name": "json" } } } ],
        "ui": { "drawers": [ { "id": "left", "open": true, "components": [ {"name": "Legend"}, {"name": "Divider"}, {"name": "SearchInput"}, {"name": "NetworkList"}, {"name": "Divider"}, {"name": "ForceLinkSettings"} ] }, { "id": "right", "open": true, "openSecondary": true, "components": [ {"name": "AppBar"}, {"name": "Divider"}, {"name": "SelectedNode"} ] } ] }
      }'
    />

  </body>
  <div id="root"></div>
  <script src="static/js/lib/parasol.js" type="text/javascript"></script>
</html>
