<!DOCTYPE html>
<html>
  <head>
    <title>Data Feed Manager Topics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <link rel="alternate" type="application/atom+xml" title="News" href="/atom.xml" />
    <script src="static/js/lib/jquery.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="container-narrow">
    <ul class="nav nav-pills pull-right">
      <li ><a href="/">HOME</a></li>
      <li ><a href="/sources">SOURCES</a></li>
      <li class="active"><a href="#">TOPICS</a></li>
      <li ><a href="/models">MODELS</a></li>
      <li ><a href="/explore">EXPLORE</a></li>
      <li><a href="/doc">DOC</a></li>
      <li><a href="/api">API</a></li>
      <li><a href="/doc/license.html">LICENSE</a></li>
    </ul>
    <h3><span class="glyphicon glyphicon-asterisk" style="color:#5cb85c"></span>Data Feed Manager</h3>

    <hr>

  <div class="jumbotron">
    <div
      class="parasol"
      data-settings='{
        "networks": [
          {
            "url": "/api/graph",
            "name": "Digital Watch",
            "options": {
              "layout": "forcelink",
              "loader": {
                "name": "json"
              }
            }
          }
        ],
        "ui": {
          "muiTheme": "dark",
          "drawers": [
            { "id": "left",
              "open": true,
              "components": [
                {"name": "AppBar"},
                {"name": "NetworkList"},
                {"name": "Divider"},
                {"name": "ForceLinkSettings"},
                {"name": "Divider"},
                {"name": "Legend"}
              ]
            },
            { "id": "right",
              "open": true,
              "openSecondary": true,
              "components": [
                {"name": "SearchInput"},
                {"name": "SelectedNode"}
              ]
            }
          ]
        }
      }'
    />
  </div>


    <div class="footer">
      <p>&copy; Copyright 2016, Alexandre CABROL PERALES on behalf of Sopra Steria Group, GNU General Public License version 3 or later; see LICENSE</p>
    </div>
    </div>


  </body>
  <script src="static/js/lib/jquery.js"></script>
  <script src="static/js/lib/bootstrap.min.js"></script>
  <script src="static/js/lib/parasol.js" type="text/javascript"></script>
</html>
