<!DOCTYPE html>
<html>
  <head>
    <title>Data Feed Manager Models</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet" media="screen">
    <link rel="alternate" type="application/atom+xml" title="News" href="/atom.xml" />
    <script src="static/js/lib/jquery.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
  </head>
  <body>

  <div class="container-narrow">
    <ul class="nav nav-pills pull-right">
      <li ><a href="/">HOME</a></li>
      <li ><a href="/sources">SOURCES</a></li>
      <li ><a href="/topics">TOPICS</a></li>
      <li class="active"><a href="#">MODELS</a></li>
      <li ><a href="/explore">EXPLORE</a></li>
      <li><a href="/doc">DOC</a></li>
      <li><a href="/api">API</a></li>
      <li><a href="/doc/license.html">LICENSE</a></li>
    </ul>
    <h3><span class="glyphicon glyphicon-asterisk" style="color:#5cb85c"></span>Data Feed Manager</h3>

    <hr>

  <div class="jumbotron">
    <h1>Manage Models (Prediction Models)</h1>
  </div>
<hr/>
<div class="container">
  <form id="addModel" class="form-inline">
    <h2 class="form-heading">Add Model </h2>
      <!-- {"tags":[],"freq":30,"summary":"","title":"","active":true} -->
    <div class="form-group">
      <label for="title">Model</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Topic" required autofocus/>
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      <input type="text" name="summary" id="summary" class="form-control" placeholder="Description" required autofocus/>
    </div>
    <div class="form-group">
      <label for="lang">Language (ISO 639-1 codes)</label>
      <input type="text" name="lang" id="lang" class="form-control" value="en" placeholder="Language" required autofocus/>
    </div>
      <!--<input type="hidden" name="tags" value="[]"/>-->
      <input type="hidden" name="freq" value="30"/>
      <input type="hidden" name="link" value=""/>
      <!--<input type="hidden" name="topics" value="{}"/>-->
      <!--<input type="hidden" name="active" value="true"/>-->
    <div class="form-group">
      <label for="related_topics">Topics</label>
      <select multiple name="related_topics" id="related_topics" class="form-control" size="20">
      </select>
      <div class="form-group">
        <label for="limit">Limit news number</label>
        <input type="text" name="limit" id="limit" class="form-control" size="5">
        </select>
    </div>
    <button class="btn btn-default" id="addModelButton" type="button">Add Model</button>
  </form>
<hr/>
<div class="table-responsive">
  <table id="modelsTable" class="table table-sm">
  </table>
</div>
</div>


  <div class="footer">
    <p>&copy; Copyright 2016, Alexandre CABROL PERALES on behalf of Sopra Steria Group, GNU General Public License version 3 or later; see LICENSE</p>
  </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#addModelButton').click(function() {
        $.ajax({
            contentType: 'application/json',
            url: '/api/models/config',
            dataType : 'json',
            data: serializeForm($('#addModel')),
            type: 'PUT',
            success: function(response) {
                console.log(response);
                refreshModels();
                refreshTopics();
                alert("Add Successfull");
                location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    refreshModels();
    refreshTopics();
});

function serializeForm(originForm){
  arr=originForm.serializeArray();
  dict={};
  $.each( arr , function( key, input ) {
   console.log( input.name + ": " + input.value );
   if(input.name=="related_topics"){
     if(dict[input.name]){
       dict[input.name].push(input.value)
     }
     else{
       dict[input.name]=[input.value]
     }
   }
   else if (input.name=="link") {
     dict[input.name]="http://localhost:12345/api/models/"+dict["title"]
   }
   else {
     dict[input.name]=input.value;
   }

  });
  return JSON.stringify(dict) ;
}

function refreshTopics(){
  console.log("Refesh Topics");
  $("#related_topics").empty()
  $.getJSON( "/api/trainings", function( data ) {
      drawList(data.docs.topics.buckets);
  });
}

function drawList(data) {
    for (var i = 0; i < data.length; i++) {
        drawItem(data[i]);
    }
}

function drawItem(rowData) {
    $("#related_topics").append($('<option value="'+rowData.key+'">'+rowData.key+":"+rowData.doc_count+'</option>'));
}

function refreshModels(){
  console.log("Refesh Models");
  $("#modelsTable").empty()
  $.getJSON( "/api/models/config", function( data ) {
      drawTable(data.hits.hits);
  });
}

function drawTable(data) {
  if (typeof data != 'undefined' && data.length>0){
    headers=$("<tr/>");
    $("#modelsTable").append(headers);

    $.each( data[0]._source , function( key, value ) { headers.prepend($("<th>"+key+"</th>"))});
      for (var i = 0; i < data.length; i++) {
          drawRow(data[i]);
      }
      headers.prepend($("<th>id</th>"));
      headers.append($('<th><a href="/api/schedule/generate_models">GENERATE MODELS</a></th>'));
      headers.append($('<th><a href="/api/schedule/contents_predict">CONTENTS PREDICT</a></th>'));
      headers.append($("<th>DELETE</th>"));
  }
}

function drawRow(rowData) {
    var row = $("<tr />")
    $("#modelsTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it

    $.each( rowData._source , function( key, value ) {
      row.prepend($("<td>" + value + "</td>"));
    });
    row.prepend($("<td>" + rowData._id + "</td>"));
    row.append($('<td><a href="/api/schedule/generate_models?id='+rowData._id+'">GENERATE MODEL</a></td>'));
    row.append($('<td></td>'));
    td_deletion=$('<td></td>');
    a_deletion=$('<a href="#" id="'+rowData._id+'" class="delete">DELETE</a>');
    a_deletion.click(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/api/'+e.target.id+'/config',
        type: 'DELETE',
        success: function(result) {
            alert("Deletion Successfull");
            location.reload();
        }
      });
    });
    td_deletion.append(a_deletion)
    row.append(td_deletion);
}
  </script>

  </body>
</html>
