feedparser
tweepy
newspaper
readability-lxml
bs4
langdetect
unicodecsv
iso8601
flask
flask-restful
Werkzeug
elasticsearch
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx_pyreverse
sphinx_git
praw
pycallgraph
pylint
memory_profiler
selenium
six
nltk
