feedparser
tweepy
newspaper
readability-lxml
bs4
langdetect
unicodecsv
iso8601
flask
flask-restful
Werkzeug
elasticsearch
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx_pyreverse
sphinx_git
praw
pycallgraph
pylint
memory_profiler
selenium
six
nltk==2.0.5
telepot
textract==1.5.0
python-magic
sumy
iso8601
unicodecsv
langdetect
flask
flask-restful
selenium
schedule
sumy==0.3.0
tinysegmenter
jieba
